<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Project_Udemy">
  <test name="Module1_Login">
  <parameter name="url" value="https://www.udemy.com/" />
    <classes>
      <class name="com.qa.testscripts.Module1_Login"/>
    </classes>
  </test> 
   
  <test name = "Module2_SignUp">
  <parameter name="url" value="https://www.udemy.com/" />
  <classes>
  <class name ="com.qa.testscripts.Module2_SignUp"></class>
  </classes>
  </test>
</suite> <!-- Suite -->
